<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <tr>
      <td> <%= order.created_at %> </td>
      <td> <%= order.subtotal %> </td>
      <td> <%= ship_detail.saddress %> </td>
      <td> <div id="detail_<%= ship_detail.id %>" class="btn btn-primary" onclick="fetch_detail(this)">View details</div> </td>
      <td> 
        <%= form_for order, :html => { :onsubmit => 'event.preventDefault(); test(this);' } do |f| %>
          <div class="input-group">
            <%= f.select :order_status, ["new", "confirmed", "in-transit", "sent", "delivered"], {}, {class: "form-control"} %>
            <div class="input-group-btn">
              <%= f.submit "Update", class: "btn btn-primary" %>
            </div>
            <%= f.hidden_field :id, value: order.id %>
          </div>
        <% end %>
      </td>
    </tr>
  </div>
</div>

<div id="detail_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Order Details</h4>
      </div>
      <div class="modal-body">
        <p><strong>Customer Name: </strong><span id="sname"></span></p>
        <p><strong>Customer Phone: </strong><span id="sphone"></span></p>
        <p><strong>Grand Total: </strong><span id="gtotal"></span>$</p>

        <strong>Order Items</strong>
        <div id="orders"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>