<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <tr>
      <td> <%= order.created_at %> </td>
      <td> <%= order.subtotal %> </td>
      <td> <%= ship_detail.sname %> </td>
      <td> <%= ship_detail.sphone %> </td>
      <td> <%= ship_detail.saddress %> </td>
    </tr>
  </div>
</div>