<%= render 'layouts/links' %>

<div id="products" style="margin-top: 2%;">
  <div class="row">
    <div class="col-xs-2" style="margin-top: 5.5%;">
      Sorting Panel
    </div>

    <div class="col-xs-10">
      <hr style="margin-top: 5px;">
        <center style="color: grey;"><%= @total_products %> PRODUCTS FOUND</center>
      <hr>
      <!-- pagination -->
      <div class="row">
        <div class="col-xs-12">
          <center style="margin-bottom: 1%;">
            <div><%= will_paginate @products %></div>
          </center>
        </div>
        
        <div class="col-xs-12">
          <% if @products.empty? %>
            <!-- showing error message -->
            <p>No products found matching the given criteria. Click <%= link_to 'here', :back %> to go back</p>
          <% else %>
            <!-- rendering products -->
            <% @products.each do |p| %>
              <%= render "product_row", product: p, order_item: @order_item %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var content = "";

  $("[id^=thumbnail_]").mouseenter(function() {
    var id = this.id.substring(10, this.id.length)
    $("#buynow_"+id).removeClass("hidden");
    $("#form_"+id).css("opacity", "1");
    $(this).css('border', '1px solid #ddd')
  });

  $("[id^=thumbnail_]").mouseleave(function() {
    var id = this.id.substring(10, this.id.length)
    $("#buynow_"+id).addClass("hidden");
    $("#form_"+id).css("opacity", "0");
    $(this).css('border', '0px')
  });
</script>