<div class="row">
  <div class="col-xs-12">
    <%= form_for @company do |f| %>
      <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@company.errors.count, "error") %> :
          </h2>
          <ul>
            <% @company.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :Name %><br>
        <%= f.text_field :cname, autofocus: true, placeholder: "Company's official name", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :Type %><br>
        <%= f.select :ctype, get_ctypes, { :include_blank => false }, {class: "form-control"}  %>
      </div>

      <div class="form-group">
        <%= f.label :Address %><br>
        <%= f.text_field :caddress, placeholder: "City, Country", class: "form-control", maxlength: "30"  %>
      </div>

      <div class="form-group">
        <%= f.label :Office_email %><br>
        <%= f.text_field :cemail, placeholder: "Your companys email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :Office_phone %><br>
        <%= f.text_field :cphone_official, placeholder: "Landline with country code", class: "form-control", maxlength: "15"  %>
      </div>

      <div class="form-group">
        <%= f.label :Personal_phone %><br>
        <%= f.text_field :cphone_personal, placeholder: "Mobile with country code", class: "form-control", maxlength: "15"  %>
      </div>

      <div class="form-group">
        <%= f.label :Companys_Logo %><br>
        <%= f.file_field :clogo %>
      </div>

      <%= f.submit nil, class: "btn btn-default" %>
    <% end %> <!-- end of form -->
  </div>
</div>