<div class="company-margin">
  <h2> <%= current_user.uname %>'s Companies <%= is_admin? ? "[Admin]" : "" %></h2>
  <hr>

  <center> <%= will_paginate @companies %> </center>
  <table class="table table-hover">
    <tr>
      <th>Index</th>
      <th> <%= link_to("Name", companies_path(:sort_by => "cname"), class: (@sort_by == "cname"? 'underline': '') ) %> </th>
      <th> <%= link_to("Type", companies_path(:sort_by => "ctype"), class: (@sort_by == "ctype"? 'underline': '') ) %> </th>
      <th> Delete </th>
    </tr>

    <% index = 1 %>
    <% @companies.each do |c| %>
      <tr>
        <td> <%= index %> </td>
        <td> 
          <%= link_to c.cname, company_path(c) %>
          <%= link_to 'edit', edit_company_path(c) %>
        </td>
        <td> <%= c.ctype %> </td>
        <td> <%= link_to 'Delete', company_path(c), method: :delete, data: { confirm: 'Are you sure?'} %> </td>
      </tr>

      <% index += 1 %>
    <% end %>
  </table>

  <br>
  <%= link_to 'New Company', new_company_path %>
</div>