<div class="company-margin">
  <div class="row">
    <div class="col-xs-4">
      <p> <%= image_tag @company.clogo_url(:largethumb).to_s %> </p>
    </div>

    <div class="col-xs-8">
      <br><br><br><br>
      <i> <%= @company.ctype %> </i>
      <p> Based in <i> <%= @company.caddress %> </i> </p>
    </div>
  </div>
  <hr>

  <center> <%= will_paginate @products %> </center>
  <table class="table table-hover">
    <tr>
      <th>Index</th>
      <th> <%= link_to("Name", companies_path(@company.id), class: (@sort_by == "pname"? '': '') ) %> </th>
      <th>Description</th>
      <th> <%= link_to("Price", companies_path(@company), class: (@sort_by == "pprice"? '': '') ) %> </th>
    </tr>
  
    <% index = 1 %>
    <% @products.each do |p| %>
      <tr>
        <td><%= index %></td>
        <td> 
          <%= link_to p.pname, product_path(p) %> 
          <%= link_to 'edit', edit_company_product_path(@company, p) %>
          <%= link_to 'delete', company_product_path(@company, p), method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>
        <td> <%= p.pdescrip %> </td>
        <td> <%= p.pprice %> </td>
      </tr>

      <% index += 1 %>
    <% end %>
  </table>

  <br>

  <br><%= link_to "New Product", new_company_product_path(@company.id) %>
  <br><%= link_to "Back", companies_path %>
</div>