<%= form_for [@company, @product], :html => {:multipart => true} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this product from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= f.label :Name %><br>
  <%= f.text_field :pname %>
  </p>

  <p>
  <%= f.label :Description %><br>
  <%= f.text_field :pdescrip %>
  </p>

  <p>
  <%= f.label :Price %><br>
  <%= f.text_field :pprice %>
  </p>

  <p>
    <%= f.label :Main_Image %><br>
    <%= f.file_field :image1 %>
  </p>

  <p>
    <%= f.label :Other_Image %><br>
    <%= f.file_field :image2 %>
  </p>
  
  <p>
    <%= f.label :Another_Image %><br>
    <%= f.file_field :image3 %>
  </p>

  <p>
  <%= f.submit %>
  </p>
<% end %>