<div class="row">
  <div class="col-xs-12">
    <%= form_for [@company, @product], :html => {:multipart => true} do |f| %>
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@product.errors.count, "error") %> prohibited
            this product from being saved:
          </h2>
          <ul>
            <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.label :Category %><br>
            <%= f.select :pcategory, @cat_hash.keys, { :include_blank => false }, {class: "form-control", onchange: "change_sub_category();"} %>
          </div>

          <div class="form-group">
            <%= f.label :Sub_category %><br>
            <%= f.select :psubcategory, @cat_hash.values[0].keys, { :include_blank => false }, {class: "form-control", onchange: "change_detail_category();"}  %>
          </div>

          <div class="form-group">
            <%= f.label :Detail_category %><br>
            <%= f.select :pdetailcategory, @cat_hash.values[0].values[0],  { :include_blank => false }, {class: "form-control"}  %>
          </div>
          

          <div class="form-group">
            <%= f.label :Name %><br>
            <%= f.text_field :pname, class: "form-control", placeholder: "Product's name" %>
          </div>

          <div class="form-group">
            <%= f.label :Description %><br>
            <%= f.text_field :pdescrip, class: "form-control", placeholder: "Minimum five words" %>
          </div>

          <div class="form-group">
            <%= f.label :Size %><br>
            <%= f.select :psize, get_sizes, { :include_blank => false }, {class: "form-control"}  %>
          </div>
        
          <div class="form-group">
            <%= f.label :Price %><br>
            <%= f.text_field :pprice, class: "form-control", placeholder: "Rs. "  %>
          </div>

          <div class="form-group">
            <%= f.label :In_Stock %><br>
            <%= f.text_field :pstock, class: "form-control", type: "number", value: 1, min: 1  %>
          </div>

          <div id="color-1" style="">
            <h3>Color 1</h3>
            <%= f.text_field :p_c1_code, id: "c1_selector", class: "form-control" %>

            <div class='form-group'>
              <%= f.label :Main_Image %><br>
              <%= f.file_field :p_c1_image1 %>
            </div>

            <div class='form-group'>
              <%= f.label :Other_Image %><br>
              <%= f.file_field :p_c1_image2 %>
            </div>
            
            <div class='form-group'>
              <%= f.label :Another_Image %><br>
              <%= f.file_field :p_c1_image3 %>
            </div>
          </div>

          <div id="color-2" style="">
            <h3>Color 2</h3>
            <%= f.text_field :p_c2_code, id: "c2_selector", class: "form-control" %>

            <div class='form-group'>
              <%= f.label :Main_Image %><br>
              <%= f.file_field :p_c2_image1 %>
            </div>

            <div class='form-group'>
              <%= f.label :Other_Image %><br>
              <%= f.file_field :p_c2_image2 %>
            </div>
            
            <div class='form-group'>
              <%= f.label :Another_Image %><br>
              <%= f.file_field :p_c2_image3 %>
            </div>
          </div>
        </div>

        <div class="col-xs-6">

          <div id="color-3" style="">
            <h3>Color 3</h3>
            <%= f.text_field :p_c3_code, id: "c3_selector", class: "form-control" %>

            <div class='form-group'>
              <%= f.label :Main_Image %><br>
              <%= f.file_field :p_c3_image1 %>
            </div>

            <div class='form-group'>
              <%= f.label :Other_Image %><br>
              <%= f.file_field :p_c3_image2 %>
            </div>
            
            <div class='form-group'>
              <%= f.label :Another_Image %><br>
              <%= f.file_field :p_c3_image3 %>
            </div>
          </div>

          <div id="color-4" style="">
            <h3>Color 4</h3>
            <%= f.text_field :p_c4_code, id: "c4_selector", class: "form-control" %>

            <div class='form-group'>
              <%= f.label :Main_Image %><br>
              <%= f.file_field :p_c4_image1 %>
            </div>

            <div class='form-group'>
              <%= f.label :Other_Image %><br>
              <%= f.file_field :p_c4_image2 %>
            </div>
            
            <div class='form-group'>
              <%= f.label :Another_Image %><br>
              <%= f.file_field :p_c4_image3 %>
            </div>
          </div>

          <div id="color-5" style="">
            <h3>Color 5</h3>
            <%= f.text_field :p_c5_code, id: "c5_selector", class: "form-control" %>

            <div class='form-group'>
              <%= f.label :Main_Image %><br>
              <%= f.file_field :p_c5_image1 %>
            </div>

            <div class='form-group'>
              <%= f.label :Other_Image %><br>
              <%= f.file_field :p_c5_image2 %>
            </div>
            
            <div class='form-group'>
              <%= f.label :Another_Image %><br>
              <%= f.file_field :p_c5_image3 %>
            </div>
          </div>

          <div id="color-6" style="">
            <h3>Color 6</h3>
            <%= f.text_field :p_c6_code, id: "c6_selector", class: "form-control" %>

            <div class='form-group'>
              <%= f.label :Main_Image %><br>
              <%= f.file_field :p_c6_image1 %>
            </div>

            <div class='form-group'>
              <%= f.label :Other_Image %><br>
              <%= f.file_field :p_c6_image2 %>
            </div>
            
            <div class='form-group'>
              <%= f.label :Another_Image %><br>
              <%= f.file_field :p_c6_image3 %>
            </div>
          </div>

          <div style="margin-top: 12%;">
            <%= f.submit nil, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  function change_sub_category() {
    var selectBox = document.getElementById("product_pcategory");
    var categoryVal = selectBox.options[selectBox.selectedIndex].value;

    $.ajax({
      url: "/sub_categories",
      type: "GET",
      data: { category: categoryVal },
      dataType: "json",
      complete: function() {},
      success: function(data, textStatus, xhr) {
        var sub_categories = data.sub_categories;
        var subCategorySelectBox = document.getElementById("product_psubcategory");

        $("#product_psubcategory").empty();

        for (var i = 0; i < sub_categories.length; i++)  {
          var opt = document.createElement("option");
          opt.value = sub_categories[i];
          opt.textContent = sub_categories[i];
          subCategorySelectBox.appendChild(opt);
        }

        change_detail_category();
      },
      error: function() {
        alert("An error occurred! Please refresh");
      }
    });
  }

  function change_detail_category() {
    var category_select_box = document.getElementById("product_pcategory");
    var category_val = category_select_box.options[category_select_box.selectedIndex].value;
    var sub_category_box = document.getElementById("product_psubcategory");
    var sub_category_val = sub_category_box.options[sub_category_box.selectedIndex].value;
    
    console.log("Category: " + category_val);
    console.log("Sub-category: " + sub_category_val);

    $.ajax({
      url: "/detail_categories",
      type: "GET",
      data: { category: category_val, sub_category: sub_category_val },
      dataType: "json",
      complete: function() {},
      success: function(data, textStatus, xhr) {
        var detail_categories = data.detail_categories;

        var detail_category_selectBox = document.getElementById("product_pdetailcategory");

        $("#product_pdetailcategory").empty();

        for (var i = 0; i < detail_categories.length; i++)  {
          var opt = document.createElement("option");
          opt.value = detail_categories[i];
          opt.textContent = detail_categories[i];
          detail_category_selectBox.appendChild(opt);
        }
      },
      error: function() {
        alert("An error occurred! Please refresh");
      }
    });
  }

  $(document).ready(function() {
    $.minicolors.defaults = $.extend($.minicolors.defaults, {
      changeDelay: 200,
      letterCase: 'uppercase',
      theme: 'bootstrap'
    });

    function apply_minicolor(ids) {
      for (i = 0; i < ids.length; i++) {
        console.log(ids[i])
        $("#"+ids[i]).minicolors();
      }
    }

    // attaching color-selector
    apply_minicolor(["c1_selector", "c2_selector", "c3_selector", "c4_selector", "c5_selector", "c6_selector"])
  });
</script>