<div class="product-margin">
  <div class="row">
    <div class="col-xs-4">
      <p> <%= image_tag @company.clogo_url(:medthumb).to_s %> </p>
    </div>
  </div>
  <hr>

  <ol class = "breadcrumb">
    <li><a href = "#"> <%= @product.pcategory.titleize %> </a></li>
    <li><a href = "#"> <%= @product.psubcategory.titleize %> </a></li>
    <li class = "active"> <%= @product.pdetailcategory.titleize %> </li>
    <li style="position:absolute; right: 15%;"> <%= link_to 'Back', :back %> </li>
  </ol>

  <div class="row">
    <div class="col-xs-6">
      <h2> <%= @product.pname %></h2>
      <h3> <%= @product.pdescrip %>, In Stock: <%= @product.pstock  %></h3>

      <h4 style="margin-top: 30%;"> Price: <span style="color: green"><%= number_to_currency(@product.pprice, unit: "Rs ") %></span></h4>
      <h4> Sizes Available: <%= @product.psize %></h4>

       <div class="btn-group" style="margin-top: 2%;">
        <a href="#" class="btn btn-primary">Add to Cart</a>
        <a href="#" class="btn btn-primary">View our Size Chart</a>
      </div>
    </div>

    <div class="col-xs-6">
      <div id="prodCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="prodCarousel" data-slide-to="0" class="active"></li>
          <li data-target="prodCarousel" data-slide-to="1"></li>
          <li data-target="prodCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag @product.p_c1_image1_url.to_s, size: "550x550", class: "img-thumbnail" %>
          </div>
          <div class="item">
            <%= image_tag @product.p_c1_image2_url.to_s, size: "550x550", class: "img-thumbnail" %> 
          </div>
          <div class="item">
            <%= image_tag @product.p_c1_image3_url.to_s, size: "550x550", class: "img-thumbnail" %>
          </div>
        </div> <!-- end of inner-carousel -->

        <!-- carousel controls -->
        <a class="left carousel-control" href="#prodCarousel" role="button" data-slide="prev" onclick="$('#prodCarousel').carousel('prev')">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#prodCarousel" role="button" data-slide="next" onclick="$('#prodCarousel').carousel('next')">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> <!-- end of carousel -->
    </div>
  </div>
</div>


<script>
  <script>
    $(document).ready(function() {
      // carousel sliding
      $('.carousel').carousel({
        interval: 10000
      });
    });
</script>