<div class="product-margin">
  <div class="row">
    <div class="col-xs-4">
      <p> <%= image_tag @company.clogo_url(:smallthumb).to_s %> </p>
    </div>
  </div>
  <hr>

  <ol class = "breadcrumb">
    <li><a href = "#"> <%= @product.pcategory.titleize %> </a></li>
    <li><a href = "#"> <%= @product.psubcategory.titleize %> </a></li>
    <li class = "active"> <%= @product.pdetailcategory.titleize %> </li>
    <li style="position:absolute; right: 15%;"> <%= link_to 'Back', :back %> </li>
  </ol>

  <!-- product's page left panel: description -->
  <div class="row">
    <div class="col-xs-6">
      <h2> <%= @product.pname %></h2>
      <h3> <%= @product.pdescrip %>, In Stock: <%= @product.pstock  %></h3>
      <h3 style="display: inline;">Color: </h3>

      <% if @product.p_c1_code != "" %>
        <span id="color_1" class="btn btn-default" style="background-color: <%= @product.p_c1_code %>; color: <%= @product.p_c1_code %>;">
          ..
        </span>
      <% end %>

      <% if @product.p_c2_code != ""  %>
        <span id="color_2" class="btn btn-default" style="background-color: <%= @product.p_c2_code %>; color: <%= @product.p_c2_code %>;">
          ..
        </span>
      <% end %>

      <% if @product.p_c3_code != ""  %>
        <span id="color_3" class="btn btn-default" style="background-color: <%= @product.p_c3_code %>; color: <%= @product.p_c3_code %>;">
          ..
        </span>
      <% end %>

      <% if @product.p_c4_code != ""  %>
        <span id="color_4" class="btn btn-default" style="background-color: <%= @product.p_c4_code %>; color: <%= @product.p_c4_code %>;">
          ..
        </span>
      <% end %>

      <% if @product.p_c5_code != ""  %>
        <span id="color_5" class="btn btn-default" style="background-color: <%= @product.p_c5_code %>; color: <%= @product.p_c5_code %>;">
          ..
        </span>
      <% end %>

      <% if @product.p_c3_code != ""  %>
        <span id="color_6" class="btn btn-default" style="background-color: <%= @product.p_c6_code %>; color: <%= @product.p_c6_code %>;">
          ..
        </span>
      <% end %>

      <h4 style="margin-top: 18%;"> Price: <span style="color: green"><%= number_to_currency(@product.pprice, unit: "Rs ") %></span></h4>
      <h4> Sizes Available: <%= get_sizes_list(@product) %></h4>
      <h4><a href="#sizechart">View our Size Chart</a></h4>

      <!-- add to cart functionality -->
      <div class="row">
        <div class="col-xs-6">
          <%= form_for @order_item, remote: true do |f| %>
            <div class="input-group">
              <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
              <div class="input-group-btn">
                <%= f.hidden_field :product_id, value: @product.id %>
                <%= f.submit "Add to Cart", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- product's page right panel:product's carousel -->
    <div class="col-xs-6">
      <div id="prodCarousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li data-target="prodCarousel" data-slide-to="0" class="active"></li>
          <% for i in 0..(@num_images-2) %>
            <li data-target="prodCarousel" data-slide-to="<%= i+1 %>"></li>  
          <% end %>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag @product.p_c1_image1_url.to_s, id: "car_img_1", size: "550x550", class: "img-thumbnail" %>
          </div>

          <% if @product.p_c1_image2_url.to_s != "" %>
            <div class="item">
              <%= image_tag @product.p_c1_image2_url.to_s, id: "car_img_2",  size: "550x550", class: "img-thumbnail" %> 
            </div>
          <% end %>

          <% if @product.p_c1_image3_url.to_s != "" %>
            <div class="item">
              <%= image_tag @product.p_c1_image3_url.to_s, id: "car_img_3",  size: "550x550", class: "img-thumbnail" %>
            </div>
          <% end %>
        </div> <!-- end of inner-carousel -->

        <!-- carousel controls -->
        <a class="left carousel-control" href="#prodCarousel" role="button" data-slide="prev" onclick="$('#prodCarousel').carousel('prev')">
          <span class="fa fa-arrow-circle-left" aria-hidden="true" style="position: absolute; top: 48%;"></span>
        </a>
        <a class="right carousel-control" href="#prodCarousel" role="button" data-slide="next" onclick="$('#prodCarousel').carousel('next')">
          <span class="fa fa-arrow-circle-right" aria-hidden="true" style="position: absolute; top: 48%;"></span>
        </a>
      </div> <!-- end of carousel -->
    </div>

    <div id="sizechart" class="col-xs-12" style="margin-top: 6%;">
      <center>
        <%= image_tag 'sizechart.jpg', width: "60%", height: "100%" %>
      </center>
    </div>
  </div> <!-- end of row -->

  <!-- size chart -->
  <div class="row">
    
  </div>

  <!-- related products section -->
  <div class="row" style="margin-top: 5%;">
    <div class="col-xs-12">
      <h2>Some related products  </h2>
    </div>

    <div class="col-xs-12" style="margin-top: 3%;">
      <% @products_related.each do |product| %>
        <div class="col-xs-3">
          <div class="thumbnail">
            <%= image_tag product.p_c1_image1_url(:thumb).to_s %>

            <div class="caption">
              <p style="margin: 0px;"><%= product.pname %> <%= link_to 'View', product_path(product) %></p>
              <%= product.pdescrip %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
      // carousel sliding
      $('#prodCarousel').carousel({
        interval: 3000
      });
    });

    // changing product's display color
    $("#color_1").click(function() {
      $("#car_img_1").attr("src", "<%= @product.p_c1_image1_url.to_s %>");
      
      <% if @product.p_c1_image2_url.to_s != "" %>
        $("#car_img_2").attr("src", "<%= @product.p_c1_image2_url.to_s %>");
      <% end %>
      
      <% if @product.p_c1_image3_url.to_s != "" %>
        $("#car_img_3").attr("src", "<%= @product.p_c1_image3_url.to_s %>");
      <% end %>
    });

    $("#color_2").click(function() {
      $("#car_img_1").attr("src", "<%= @product.p_c2_image1_url.to_s %>");
      
      <% if @product.p_c1_image2_url.to_s != "" %>
        $("#car_img_2").attr("src", "<%= @product.p_c2_image2_url.to_s %>");
      <% end %>
      
      <% if @product.p_c1_image3_url.to_s != "" %>
        $("#car_img_3").attr("src", "<%= @product.p_c2_image3_url.to_s %>");
      <% end %>
    });

    $("#color_3").click(function() {
      $("#car_img_1").attr("src", "<%= @product.p_c3_image1_url.to_s %>");
      
      <% if @product.p_c1_image2_url.to_s != "" %>
        $("#car_img_2").attr("src", "<%= @product.p_c3_image2_url.to_s %>");
      <% end %>
      
      <% if @product.p_c1_image3_url.to_s != "" %>
        $("#car_img_3").attr("src", "<%= @product.p_c3_image3_url.to_s %>");
      <% end %>
    });

    $("#color_4").click(function() {
      $("#car_img_1").attr("src", "<%= @product.p_c4_image1_url.to_s %>");
      
      <% if @product.p_c1_image2_url.to_s != "" %>
        $("#car_img_2").attr("src", "<%= @product.p_c4_image2_url.to_s %>");
      <% end %>
      
      <% if @product.p_c1_image3_url.to_s != "" %>
        $("#car_img_3").attr("src", "<%= @product.p_c4_image3_url.to_s %>");
      <% end %>
    });

    $("#color_5").click(function() {
      $("#car_img_1").attr("src", "<%= @product.p_c5_image1_url.to_s %>");
      
      <% if @product.p_c1_image2_url.to_s != "" %>
        $("#car_img_2").attr("src", "<%= @product.p_c5_image2_url.to_s %>");
      <% end %>
      
      <% if @product.p_c1_image3_url.to_s != "" %>
        $("#car_img_3").attr("src", "<%= @product.p_c5_image3_url.to_s %>");
      <% end %>
    });

    $("#color_6").click(function() {
      $("#car_img_1").attr("src", "<%= @product.p_c6_image1_url.to_s %>");
      
      <% if @product.p_c1_image2_url.to_s != "" %>
        $("#car_img_2").attr("src", "<%= @product.p_c6_image2_url.to_s %>");
      <% end %>
      
      <% if @product.p_c1_image3_url.to_s != "" %>
        $("#car_img_3").attr("src", "<%= @product.p_c6_image3_url.to_s %>");
      <% end %>
    });
</script>