<!DOCTYPE html>
<html>
<head>
  <title>MILAYGA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    body {
      -webkit-animation: smooth 0.3s ease-in;
      -moz-animation: smooth 0.3s ease-in;
      -o-animation: smooth 0.3s ease-in;
      -ms-animation: smooth 0.3s ease-in;
      animation: smooth 0.3s ease-in;
    }

    @-webkit-keyframes smooth {
      0% { opacity: 0;}
      100% { opacity: 1;}
    }

    @-moz-keyframes smooth {
      0% { opacity: 0;}
      100% { opacity: 1;}
    }
  </style>
</head>
<body>
<!-- <div id="loader" style="position: absolute; top: 43%; left: 48%;">
  <center><i class="fa fa-refresh fa-spin fa-3x"></i></center>
</div> -->

<% if flash[:notice] %>
  <p> <%= flash[:notice] %> </p>
<% end %>

<%= render 'layouts/links' %>
<br>
<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
